<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBCTj6NkpPNpsvcJW9pyZprmHXgiaNzGI</string>
	<key>GCM_SENDER_ID</key>
	<string>334290319738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YangLyu.Home-Menu</string>
	<key>PROJECT_ID</key>
	<string>home-menu-5306a</string>
	<key>STORAGE_BUCKET</key>
	<string>home-menu-5306a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334290319738:ios:0a94cb02fb223832a1bec3</string>
</dict>
</plist>